body{
    overflow: hidden;
    box-sizing: border-box;
    font-family: Bahnschrift SemiBold;
    text-transform: uppercase;
    color: gray;

}
.container{
	display: flex;
	height: 80vh;
   	width: 130vh;
	min-height: 180px;
	min-width: 290px;
	max-width: 80%;
	margin: 3% auto 5%;
	
	justify-content: center;
}
.landscapeMeghivo{
    width: 50%;
    height: 100%;
    background-image: url("../images/meghivo.jpg");
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.column2{
    width: 50%;
    height: 100%;
    position: relative;
    perspective: 4000px;
}
.page{
    position: absolute  ;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 1.4s;
    
}
.potrait{
    transition: 2s;
    backface-visibility: hidden;
    
}
.p0_potrait{
    z-index: 4;
    background-image: url("../images/meghivo.jpg");
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
}
.p1_potrait{
    z-index: 3;
    background-image: url("../images/cover.jpg");
    background-position: 35% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}
.p2_potrait{
    z-index: 2;
    background-image: url("../images/menetrend.jpg");
    background-position: right center;
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
}
.p1{
    z-index: 3;
}
.p2{
    z-index: 1;
}

.element1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/cover.jpg");
    background-position: 35% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    backface-visibility: hidden;
}
.element2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    background-image: url("../images/menetrend.jpg");
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);   
    
}
.visszajelzes{
    padding: 5%;
    overflow: auto;
    box-sizing: border-box;
    
}
.form-group h1{
    font-size: 1.1rem;
    color: #7030a0;
    margin-bottom: 5%;
}

.form{
    font-size: 0.7rem;
    margin-bottom: 1rem;
    
    
}
.form label{
    margin-bottom: .75rem;
    ;
    
}
.inputBox{
    display: inline-block;
    width: 100%;
    padding: .375rem .75rem;
    border: 0.5px solid lightgray;
    border-radius: 0.25rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.radioform{
    display: flex;    
}

.submitDiv p{
    font-size: 0.6rem;
    text-transform: none;;
    color: rgb(166,166,166);
}
.respndText{
    text-transform: none;
}
#submitBtn{
    color: #6c757d;
    background-color: Transparent;
    background-repeat:no-repeat;
    height: 2rem;
    border: 0.5px solid lightgray;
    border-radius: 0.25rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-family: Bahnschrift SemiBold;
    font-weight: bold;
    text-transform: uppercase;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    line-height:1.5;
}
.btn{
    position: absolute;
    color: #6c757d;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    z-index: 3;
    bottom: -5%;
    
    
}
.frontbtn{
    transition: 1s;
    right: 0;
}
.backbtn{
    transition: 1s;
    left: 0;
}

.pageFlip{
    transform: rotateY(-180deg);
}
.pageFlipPotrait{
    transform: rotateY(-100deg);
}

.notVisible{
    display: none;
}
.notVisibleWithOpacity{
    opacity: 0;
}
