body{
    margin:0;
    margin-left: auto;
    
    padding: 0;
    height:   100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    overflow: hidden
    
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}   
.book{
    display: flex;
    position: absolute;
}
#cover{
    
    width: 65vh;
    height: 87vh;
    position: relative;
    background-image: url("../images/meghivó.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.flip-book{
    
    width: 65vh;
    height: 87vh;
    position: relative;
    perspective: 1500px;

}

.flip{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 1.0s;
    color: #000;    
}
p{
    font-size: 14px;
    line-height: 24px;
}
.front{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,0.5);
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(180deg);   
    backface-visibility: hidden;
    background-color: #000;

}
.submitDiv{
    display: flex;
}
.visszajelzes{
    
    font-family: Bahnschrift SemiBold;
    text-transform: uppercase;
    padding-left:10px;
    overflow: hidden;
    height: 100%;
    color:gray;

}
.visszajelzes h1{
    font-size: 20px;
}
.visszajelzes label{
    font-size: 0.7rem;
}
.visszajelzes input{
    font-size: 0.7rem;
}
.visszajelzes p{
    
    padding-left: 10px;
    font-size: 0.6rem;
    line-height: 150%;
    margin: auto

}
.btn-outline-secondary{
    height: 3rem;
}
.next-btn{
    z-index: 100;
    position: relative;
    left:80%;
    font-family: Bahnschrift SemiLight;
    backface-visibility: hidden;
    cursor: pointer;
    color:#000;
    
}
.back-btn{
    z-index: 100;
    position: relative;
    font-family: Bahnschrift SemiLight;
    left: 20%;
    cursor: pointer;
    color:#000;
}



#p1{
    z-index: 3;
}
#p2{
    z-index: 2;
}
#p3{
    z-index: 1;
}
/* 
#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;
} */


.page1Flipped{
    transform: rotateY(-180deg);
    z-index: 1;
}
.page2Flipped{
    transform: rotateY(-180deg);
    z-index: 2;
}
.page3Flipped{
    transform: rotateY(-180deg);
    z-index: 3;
}

.hidden{
    visibility:hidden;
    
}