<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico">
    <script src="./script.js" defer></script>
    <link rel="stylesheet" href="css/style_new.css">
    <title>Enikő és Gábor esküvője</title>

</head>
<body>
    
    <div class="container">
        <div class="landscapeMeghivo landscape" id="landscape_cover">
        </div>
        <div class="column2" id="col2">
            <div class="page p0_potrait potrait" id="p0_potrait"><!-- meghivo!-->
            </div>
            <div class="page p1_potrait potrait"id="p1_potrait"> <!-- kép idézet!-->
            </div>
            <div class="page p2_potrait potrait"id="p2_potrait"> <!-- menetrend-->
            </div>
            <div class="p1 page landscape" id="flipPageLandscape">
                <div class="element2" id="landscape_menetrend">
                    <button onclick="flipLandscape()" class="btn backbtn landscape" id="bwdbtnLandscape"> << vissza </button>
                </div>
                <div class="element1" >
                    <button onclick="flipLandscape()" class="btn frontbtn landscape" id="fwdbtnLandscape"> >> előre </button>
                </div>
            </div>
            <div class="p2 page visszajelzes" id="visszajelzes">
                    <form  action="/participant" method="post" class=" form-group" >
                        <h1>Visszajelzés</h1>
                        <div class="radioform">
                            <div class="form">
                                <input class="form-check-input " type="radio" name="there" id="ottLesz" value="TRUE" required>
                                <label class="form-check-label" for="inlineRadio1">Ott leszek</label>
                            </div>
                            <div class="form">
                                <input class="form-check-input" type="radio" name="there" id="nemLeszOtt" value="FALSE" required>
                                <label class="form-check-label" for="inlineRadio2">Nem tudok részt venni</label>
                            </div>
                        </div>
                
                        <div class="form">
                            <label for="nev">Neved</label>
                            <input type="text" class="inputBox" id="nev" name="ParticipantName" placeholder="" required>
                        </div>
                        <div class="form">
                            <label for="emailAddress" class="form-label">E-mail cím(nem kötelező)</label>
                            <input type="email" class="inputBox" id="emailAddress" name="ParticipantEmail" aria-describedby="emailHelp">
                        </div>
                
                        <div class="form">
                            <label for="kiserok">Kisérő és Családtagok nevei</label>
                            <textarea class="inputBox" aria-label="With textarea" name="ParticipantFollowers" id="kiserok"></textarea>
                        </div>
                        <div class="form">
                            <div class="mb-3">
                                <label for="megjegyzes">Üzenetek (Különleges étrend és zenekérés)</label>
                                <textarea class="inputBox" aria-label="With textarea" rows="2" name="ParticipantNote" id="megjegyzes"></textarea>
                            </div>
                        </div>
                        <div class="submitDiv">
                            <button type="submit" id="submitBtn" name="resztvevoRequest" class="submitbtn">Küldés</button>
                            <p><%= text%></p>
                            
                            <!-- <label class="respndText notVisible " id="kszitext">Köszönjük hogy visszajeleztél</label> -->
                        </div>
                    </form>
            </div>
            <button onclick="flipPotrait('backward')" class="btn backbtn potrait notVisible" id="backbtnPotrait"> << vissza </button>
            <button onclick="flipPotrait('forward')" class="btn frontbtn potrait" id="fwdbtnPotrait"> >> előre </button>
        </div>
    </div>
</body>
</html>
